@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sedan SC", serif;
}

body {
    background-color: rgb(95, 52, 136);
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    min-width: 600px;
    min-height: 600px;
    background-color: #f0f8ff;
    border-radius: 600px;
    border: 15px groove #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.number {
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    transform: rotate();
}

.number1 {
    transform: rotate(30deg);
}

.number2 {
    transform: rotate(60deg);
}

.number3 {
    transform: rotate(90deg);
}

.number4 {
    transform: rotate(120deg);
}

.number5 {
    transform: rotate(150deg);
}

.number6 {
    transform: rotate(180deg);
}

.number7 {
    transform: rotate(210deg);
}

.number8 {
    transform: rotate(240deg);
}

.number9 {
    transform: rotate(270deg);
}

.number10 {
    transform: rotate(300deg);
}

.number11 {
    transform: rotate(330deg);
}

.number12 {
    transform: rotate(360deg);
}

.second-hand {
    width: 5px;
    height: 240px;
    background-color: rgb(83, 0, 0);
    position: absolute;
    border-radius: 5px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}


.minute-hand {
    width: 8px;
    height: 220px;
    background-color: rgb(32, 0, 0);
    position: absolute;
    border-radius: 5px; 
    transform: translate(0, -50%);
    transform-origin: bottom center;
}


.hour-hand {
    width: 13px;
    height: 150px;
    background-color: rgb(32, 0, 0);
    position: absolute;
    border-radius: 13px; 
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.center {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(83, 0, 0);
    position: absolute;
}